@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.cuerpo-pagina{
    background-color: #422340 ;/* #2a1e29; 2a1e1e*/
}

.header-menu{
    background-color: #0f050f;
    display: flex;
    justify-content: flex-end;
}

.header-menu-links{
    color: #ffc5c1;
    text-decoration: none;
    font-family: "Montserrat";
    margin: 25px 86px 25px 0;
    border: 2px solid #ffc5c1;
    padding: 8px;
    border-radius: 8px;

}

.presentacion{
    width: 50%;
    padding: 20% 0 0 30%;
}

.presentacion-sobre-mi{
    padding: 10% 0 10% 25%;
    width: 50%;
}

.titulo{
    color: white;
    font-family: "Inter";
    /*color: #ffc5c1;*/
}

.texto-intro{
    color: white;
    padding: 20px 0;
    font-family: 'Montserrat';
}

.links-personales-inicio{
    color: white;
    text-decoration: none;
    padding: 1%;
    background-color: slateblue;
    border-radius: 8px;
    margin: 8px;
    font-family: "Montserrat";
}

.links-personales:hover{/*cuado el raton esta encima*/

}

.titulo-tecnologias{
    color: white;
    padding: 250px 0 80px 0;
    text-align: center;
    font-family: 'Inter';
}

.acomodo-tecnologias{
    display: flex;
    text-align: center;
    padding: 0 29%;
    gap: 10px;
}

.html-logo{
    width: 150px;
}

.css-logo{
    width: 150px;
}

.bloque-js{
    padding: 0 0 0 50px;
}

.js-logo{
    width: 90px;
}

.gh-logo{
    width: 90px;
}

.bloque-gh{
    padding-left: 50px;
}

.texto-tecno{
    color: white;
    font-family: "Montserrat";
}

.titulo-proyectos{
    padding: 10% 0;
    text-align: center;
    color: white;
    font-family: 'Inter';
}

.lista-proyectos{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    padding: 0 0 0 10%;   
}

.links-proyectos{
    text-decoration: none;
}

.bloque-der{

    margin: 0 10px 0 0 ;
    border-radius: 24px;
    margin: 0 10px 10px 0 ;
}

.bloque-der:hover{
    box-shadow: 0 24px 32px -8px #ffc5c1;
}

.bloque-izq{

    border-radius: 24px;
    margin: 0 0 10px 10px;
}

.bloque-izq:hover{
    box-shadow: 0 24px 32px -8px #ffc5c1;
}

.texto-proyectos{
    width: 450px;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 20px 10px;
}

.img-amigo-secreto{
    width: 500px;
    border-radius: 24px;
}

.img-numero-secreto{
    width: 500px;
    border-radius: 24px;
}

.img-encriptador{
    width: 500px;
    height: 250px;
    border-radius: 24px;
}

.img-barberia{
    width: 500px;
    height: 250px;
    border-radius: 24px;
}

.footer{
    display: flex;
    padding: 25px 0;
    background-color: #0f050f;
}

.footer-nombre{
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0 10% 0 30%;
    display: flex;
    align-items: center;
}

.footer-links{
    display: grid;
}

.links-personales{
    border: 2px solid slateblue;
    color: white;
    font-family: "Montserrat";
    display: flex;
    align-items: center;/*alinea los items al centro horizontalmente pero primero debe tener la propiedad flex sino no sirve*/
    text-align: center;
    border-radius: 12px;
    margin: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.imagen-gh{
    width: 40px;

}

.imagen-ln{
    width: 40px;
}

@media(768px <= width <= 1200px){

    .presentacion{
        padding: 20% 0 0 20%;
    }

    .texto-intro{
        width: auto;
    }

    .titulo-tecnologias{
        width: 300px;
        padding: 250px 0 80px 29%;
    }

    .acomodo-tecnologias{
        padding: 0 0 0 15%;
        width: 50%;
    }

    .titulo-proyectos{
        width: 300px;
        padding: 10% 29%;
    }

    .lista-proyectos{
        padding: 0 0 0 18%;
        width: 500px;
    }

    .bloque-der{
        margin: 0 0 10% 0;
    }

    .bloque-izq{
        margin: 0 0 10px 0;
    }

    .footer-nombre{
        padding: 0 5% 0 26%;
    }
}
